<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.google.android.apps.aicore.service.BIND_SERVICE" />

    <queries>
        <package android:name="com.google.android.aicore" />
    </queries>

    <application>
        <activity
            android:name=".SummaryProbeActivity"
            android:exported="true" />
        <activity
            android:name=".DebugSttAuditActivity"
            android:exported="true" />
        <activity
            android:name=".DebugRecordingAuditActivity"
            android:exported="true" />
        <activity
            android:name=".DebugLongSingleFileAuditActivity"
            android:exported="true" />

    </application>
</manifest>
